$color-bg-menu : radial-gradient(
  circle,
  rgba(0, 96, 255, 1) 0%,
  rgba(0, 21, 108, 1) 100%
);

body {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 112px 1fr 50px;
  min-height: 100vh;
  width: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.navbar {
  background: $color-bg-menu
}
.navbar-brand > img {
  width: 150px;
}
.banner > img {
  width: 100%;
  margin-top: -10px;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 51px;
  background: $color-bg-menu;
}